.fav-ad {
    height: 110px;
    padding: 32px 0;
  }
  .fav-ad ul li.grid {
    float: left;
    width: 264px;
    height: 110px;
    margin-right: 32px;
    box-shadow: none;
  }
  
  .fav-ad ul li.grid:last-child {
    margin-right: 0;
  }
  .fav-ad ul li.grid img.p-img {
    width: 264px;
    height: 110px;
    transition: all 0.3s ease 0s;
  }
  .fav-ad-layout .loading{
    padding-top: 50px;
}